$padLeft: 5%
$navUps: .5%
$contentRight: 5%
$marginBottom: 1%
$colorBack: #919191
	
.moveleft5
	margin-left: $padLeft

.error
	color: red

.grey
	color: $colorBack

html, body
	margin: 0
	padding: 0
	font-family: 'Roboto', sans-serif

header
	> h1
		padding-left: $padLeft
		font-family: 'Mr Dafoe', cursive
		margin-bottom: 0
		font-size: 3em
	nav 
		background-color: $colorBack
		color: #FFF
		ul
			padding-left: $padLeft 
			list-style: none
			text-decoration: none
			width: 100% - 2 * $padLeft
			margin: 0
			a
				text-decoration: none
				li
					padding-left: 2%
					padding-right: 2%
					padding-top: $navUps
					padding-bottom: $navUps
					color: #FFF
					display: inline-block
					&:hover
						background-color: #707070

#content
	width: 100% - 2 * $contentRight
	padding-left: $contentRight
	margin-bottom: $marginBottom

.load
	animation: load 1s linear infinite
	border-radius: 50%
	border-left: 2px solid orange
	border-right: 2px solid orange


@keyframes load
	100%
		transform: rotate(360deg)

footer
	background-color: $colorBack
	color: white
	#info
		height: 5%
		padding-top: $navUps
		padding-bottom: $navUps
		width: 100% - 2 * $padLeft
		table
			height: 100%
			display: inline-block
			color: white
			*
				height: 100%
				display: inline-block
			tr
				vertical-align: top
			td
				margin-top: auto
				margin-bottom: auto
				display: initial
				a
					width: 0
		// #authored
		// 	display: inline-block
		// 	vertical-align: top
		// 	height: 100%
		// 	span
		// 		padding-bottom: 10px
		// #git
		// 	display: inline
		// 	a
		// 		height: 100%
		// 		img
		// 			height: 100%