- var title = "Mi Vida"
html
	head
		block head
			link(rel="stylesheet" href="/css/main.css")
			link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
			link(href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet")
			title #{title}
			script(src="/js/jq.min.js")
			script(src="/js/mividafuncs.js")
	body
		header
			h1 #{title}
			nav
				- var tabs = [{name: "home", link: "/"}, {name: "login", link: "/login"}];
				ul
					- for(let i = 0; i < tabs.length; i++)
						a(href=tabs[i].link)
								li #{tabs[i].name}
		#content
			block content
		footer
			#info.moveleft5
				//- #authored
				//- 	span Website authored by David Gutierrez
				//- #git
				//- 	a(href="https://github.com/davidagtz/DavidsSite")
				//- 		img(src="/res/imgs/github.png")
				table
					tbody
						tr
							td Website authored by David Gutierrez
							td
								a(href="https://github.com/davidagtz/DavidsSite")
									img#git(src="/res/imgs/github.png")