extends ../template.pug

block append head
	script(src='/js/articles/submit.js')
	link(rel='stylesheet', href='/css/articles/submit.css')

block append content
	h1 Submit Article
	form(id='submit' method='post' enctype='multipart/form-data').moveleft5
		.ib.top
			p
				label(for='title') article title: 
				input#title(type='title' name='title' placeholder=' title' required)
			p
				label(for='description') description: 
				input#description(type='description' name='d' placeholder=' description' required)
			p
				label(for='article') article: 
				textarea#article(name='article' cols='30' rows='10' required).top
			p
				input(type='submit' value='submit')
		.ib.top#side
			p
				label(for='file') Upload Preview Image 
				input#file(type='file' name='img' value='Upload Image' accept='image/*' required)
				img.preview(id='filePreview')
			p
				p Upload Article Images
				p.subtitle To use these photos in the article you must put a ! before the img num
				#listCont
					ul#thelist
					#buttonHolder
						button(type="button" onclick="addItem()") add
	#preview
				