extends template.pug

block append head
	script(src="/js/login.js")

block append content
	form.moveleft5#login(action='/a')
		h1 Login
		div.moveleft5#thedeets
			p
				label(for="user") Username: 
				input(type="textbox" id="user" name="user" required)
			p
				label(for="password") Password: 
				input(type="password" id="password" name="pwd" required)
			br
			input(type='submit' value="Login")
		p Don't have an account? 
			a(href="/signup") Sign up