- var title = "Mi Vida"
html
	head
		link(rel="stylesheet" href="/css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet")
		title #{title}
	body
		header
			h1 #{title}
			nav
				- var tabs = [{name: "home", link: "/"}, {name: "oter", link: "/hi"}];
				ul
					- for(let i = 0; i < tabs.length; i++)
						a(href=tabs[i].link)
								li #{tabs[i].name}
		#content
			block content
		footer
			#info 
				#authored
					p Website authored by David Gutierrez
				#git
					a(href="https://github.com/davidagtz/DavidsSite")
						img(src="/res/imgs/github.png")