.container(style="background-color:lightblue;width:100%;height:100%;padding:10px")
	h1(style="color:white") Welcome! Thank you, <i>#{name}</i>, for joining the team!
	p Now that you have an account on Mi Vida, you can like, comment, and interact on the site!
	p However, first, you must activate your account. All you have to is click on this 
		a(href=site) link.