| Welcome! Thank you, #{name}, for joining the team!
| 
| Now that you have an account on Mi Vida, you can like, comment, and intereact on the site.
| However, first, you must activate your account. All you have to is click on this link. #{site}